<h1>Budget Visualizer</h1>

<div>
  <!-- <form (submit)="add(toAdd)"> -->
    <label class="form-label">Date: <input class="form-control" type="date" [(ngModel)]="date"/></label>
    <label class="form-label">Category: <select class="form-select" [(ngModel)]="category">
      <option *ngFor="let category of categories" value = {{category}}>{{category}}</option>
    </select></label>
    <label *ngIf="category && subcategories[category].length" class="form-label">Subcategory: <select class="form-select" [(ngModel)]="subcategory">
      <option *ngFor="let subcategory of subcategories[category]" value = {{subcategory}}>{{subcategory}}</option>
    </select></label>
    <label class="form-label">Amount: <input type="number" class="form-control" [(ngModel)]="amount"/></label>
  <!-- </form> -->
  <button class="btn btn-primary" (click)="add()">Add</button>
</div>

<h2>Items</h2>

<table class="table" *ngIf="items.length">
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Category</th>
    <th>SubCategory</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td><input *ngIf="selected===item.id" class="form-control" type="date" [(ngModel)]="item.date"/>{{selected === item.id ? "" : item.date}}</td>
      <td><select *ngIf="selected===item.id" class="form-select" [(ngModel)]="item.category">
        <option *ngFor="let category of categories" value = {{category}}>{{category}}</option>
      </select>{{selected === item.id ? "" : item.category}}</td>
      <td><select *ngIf="selected===item.id && item.category && subcategories[item.category].length" class="form-select" [(ngModel)]="item.subcategory">
        <option *ngFor="let subcategory of subcategories[item.category]" value = {{subcategory}}>{{subcategory}}</option>
      </select>{{selected === item.id ? "" : item.subcategory}}</td>
      <td><input *ngIf="selected===item.id" type="number" class="form-control" [(ngModel)]="item.amount"/>{{selected === item.id ? "" : item.amount}}</td>
      <td><button class="btn btn-success" (click)="update(item.id)"><span >{{selected !== item.id ? 'Upd' : 'Save'}}</span></button></td>
      <td><button class="btn btn-danger" data-id={{item.id}} (click)="delete(item.id)">Del</button></td>
    </tr>
  </tbody>
</table>

<nav><a routerLink="/home">home</a></nav>