<h1>Budget Visualizer</h1>

<div>
  <!-- <form (submit)="add(toAdd)"> -->
    <label class="form-label">Date: <input class="form-control" type="date" [(ngModel)]="toAdd.date"/></label>
    <label class="form-label">Category: <select class="form-select" [(ngModel)]="toAdd.category">
      <option *ngFor="let category of categories" value = {{category}}>{{category}}</option>
    </select></label>
    <label *ngIf="toAdd.category && subcategories[toAdd.category].length" class="form-label">Subcategory: <select class="form-select" [(ngModel)]="toAdd.subcategory">
      <option *ngFor="let subcategory of subcategories[toAdd.category]" value = {{subcategory}}>{{subcategory}}</option>
    </select></label>
    <label class="form-label">Amount: <input class="form-control" [(ngModel)]="toAdd.amount"/></label>
  <!-- </form> -->
  <button class="btn btn-primary" (click)="add(toAdd)">Add</button>
</div>

<h2>Items</h2>

<table class="table" *ngIf="items.length">
  <thead>
    <th>ID</th>
    <th>Date</th>
    <th>Category</th>
    <th>SubCategory</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.date}}</td>
      <td>{{item.category}}</td>
      <td>{{item.subcategory}}</td>
      <td>{{item.amount}}</td>
      <td><button class="btn btn-success" (click)="update(item.id)"><span >{{selected !== item.id ? 'Upd' : 'Save'}}</span></button></td>
      <td><button class="btn btn-danger" data-id={{item.id}} (click)="delete(item.id)">Del</button></td>
    </tr>
  </tbody>
</table>