<div class="row">
  <div class="col">
    <h1>FinanceHub</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>FinanceHub is a place with tools to help you understand the financial world and perform financial planning</p>
  </div>
</div>

  <div class="row">
    <div class="col">
      <h3>Tools</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <a routerLink="/budget"><h4>Budget Planner</h4></a>
        </li>
        <li><p>More coming soon...</p></li>
      </ul>
    </div>
  </div>



